.user {
  background-color: #246621;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 4px auto;
  padding: 16px 0;
  width: 50%;
}

.usertable {
  background-color: rgb(45, 145, 20);
  margin: 1px;
  width: 50%;
  height: 200px;
}

table {
  border-collapse: collapse;
}

table td,
th {
  border: 1px white solid;
}

table td {
  text-align: left;
  padding-left: 16px;
}

@media only screen and (max-width: 600px) {
  .user {
    display: grid;
  }
}
